In [66]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [67]:
data = pd.read_csv("train_data.csv")

In [68]:
testdata = pd.read_csv("test_data.csv")

In [69]:
del data['transfers_count_out_8']
del data['transfers_amount_out_8']
del data['transfers_count_in_8']
del data['transfers_amount_in_8']
del data['transactions_amount_10']
del data['transactions_count_10']
del data['transactions_count_9']
del data['transactions_amount_9']

del testdata['transfers_count_out_8']
del testdata['transfers_amount_out_8']
del testdata['transfers_count_in_8']
del testdata['transfers_amount_in_8']
del testdata['transactions_amount_10']
del testdata['transactions_count_10']
del testdata['transactions_count_9']
del testdata['transactions_amount_9']

In [70]:
l = list(data.columns)
for i in l:
    if data[i].dtype == "object":
        x = np.array(data[i])
        for j in range(x.shape[0]):
            if type(x[j]) == float:
                x[j] = None
            else:
                x[j] = (np.datetime64('today', 'D') - np.datetime64(x[j]))/np.timedelta64(1, 'D')
        data[i] = x.astype("float64")

In [71]:
lst = list(testdata.columns)
for i in lst:
    if testdata[i].dtype == "object":
        x = np.array(testdata[i])
        for j in range(x.shape[0]):
            if type(x[j]) == float:
                x[j] = None
            else:
                month, day, year = x[j].split("/")
                if len(month)==1:
                    month = "0"+month
                if len(day)==1:
                    day="0"+day
                formed_date = year+"-"+month+"-"+day
                x[j] = (np.datetime64('today', 'D') - np.datetime64(formed_date))/np.timedelta64(1, 'D')
        testdata[i] = x.astype("float")

In [72]:
lst = list(data.columns)
for i in lst:
    if data[i].dtype == "object":
        data[i] = data[i].astype('float64')

In [73]:
lst = list(testdata.columns)
for i in lst:
    if testdata[i].dtype == "object":
        testdata[i] = testdata[i].astype('float64')

In [74]:
l = list(data.columns)
lstdata = []
for i in l:
    x = data[data[i].isnull() == False].corr()
    lstdata.append(x[i])
j = 0
for i in l:
    lstdata[j][i] = 0
    j+=1
corrdata = {} 
for i in range(len(lstdata)):
    corrdata[l[i]] = lstdata[i].max()

In [75]:
names = list(lstdata[24][lstdata[24]>0.5].index)
names.append('transfers_count_in_9')
names

['transfers_count_in_10', 'transfers_count_in_9']

In [76]:
b = data.copy()
for i in names:
    b = b[b[i].isnull() == False]
b

,client_id,cato_code,gender,country,citizenship,age_days,client_days,opsos_code,phone_digits,max_dup,...,transfers_count_in_10,transfers_amount_out_10,transfers_count_out_10,auth_count_10,salary_10,transactions_amount_8,transactions_count_8,auth_count_8,salary_8,label
3,530220,NaN,0.0,0.0,0.0,22580.0,847.0,0.0,6.0,1.0,...,0.033579,0.145198,0.03358,0.033581,0.036560,0.115086,0.033581,0.033580,0.092161,0
15,405728,4.0,1.0,0.0,0.0,8662.0,1157.0,8.0,6.0,1.0,...,0.033579,0.052181,0.03358,0.033580,NaN,0.170277,0.033580,0.033580,NaN,0
19,1645066,1.0,0.0,0.0,0.0,19633.0,1617.0,11.0,5.0,1.0,...,0.033579,0.036870,0.03358,0.033580,0.045230,0.069156,0.033581,0.033581,0.051248,0
21,929360,11.0,0.0,0.0,0.0,7834.0,1171.0,3.0,6.0,1.0,...,0.033579,0.035726,0.03358,0.033580,0.036077,0.197382,0.033585,0.033581,0.041683,0
27,1575202,10.0,1.0,0.0,0.0,11874.0,1039.0,3.0,5.0,1.0,...,0.033579,0.067861,0.03358,0.033580,0.076069,0.128690,0.033580,0.033580,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
941486,1232353,17.0,0.0,0.0,0.0,14520.0,448.0,4.0,5.0,1.0,...,0.033580,0.057845,0.03358,0.033581,NaN,0.093174,0.033580,0.033581,NaN,0
941487,647742,NaN,1.0,0.0,0.0,12716.0,990.0,11.0,5.0,1.0,...,0.033579,0.050989,0.03358,0.033581,0.050105,0.077609,0.033580,0.033581,0.050309,0
941512,1269169,1.0,0.0,0.0,0.0,12209.0,695.0,9.0,4.0,2.0,...,0.033579,0.101546,0.03358,0.033580,NaN,0.141551,0.033580,0.033580,NaN,1
941517,1123819,11.0,0.0,0.0,0.0,7254.0,807.0,11.0,6.0,1.0,...,0.033579,0.036191,0.03358,0.033580,0.036077,0.037301,0.033580,0.033580,0.035453,0
941529,1634056,5.0,1.0,0.0,NaN,17215.0,400.0,10.0,4.0,1.0,...,0.033579,0.038325,0.03358,0.033580,0.038471,0.041267,0.033580,0.033580,0.037430,0

In [77]:
import warnings
warnings.filterwarnings('ignore')
from sklearn.linear_model import LinearRegression
tco10 = LinearRegression()
tci9 = LinearRegression()
a = np.array(b[names[0]]).reshape(-1,1)
c = np.array(b[names[1]]).reshape(-1,1)
tco10.fit(a,c)
tci9.fit(c,a)
lrs1 = []
lrs1.append(tco10)
lrs1.append(tci9)
for j in range(len(lrs1)):
    b = data.copy()
    features = []
    for i in range(len(names)):
        if i!=j:
            features.append(names[i])
            b = b[b[names[i]].isnull() == False]
        else:
            b = b[b[names[i]].isnull() == True]

    pred = lrs1[j].predict(b[features])
    b = data.copy()
    for i in range(len(names)):
        if i!=j:
            b = b[b[names[i]].isnull() == False]
        else:
            b = b[b[names[i]].isnull() == True]
    b[names[j]] = pred
    data[names[j]].loc[b.index] = b[names[j]]

In [78]:
b = testdata.copy()
for i in names:
    b = b[b[i].isnull() == False]
b

,client_id,cato_code,gender,country,citizenship,age_days,client_days,opsos_code,phone_digits,max_dup,...,transfers_amount_in_10,transfers_count_in_10,transfers_amount_out_10,transfers_count_out_10,auth_count_10,salary_10,transactions_amount_8,transactions_count_8,auth_count_8,salary_8
2,10,4.0,1.0,0.0,NaN,19040.0,225.0,0.0,5.0,1.0,...,0.033579,0.033579,0.034671,0.033580,0.033580,NaN,0.057141,0.033580,0.033580,NaN
4,27,NaN,0.0,0.0,0.0,26687.0,2919.0,0.0,6.0,1.0,...,0.075314,0.033580,0.033681,0.033580,0.033581,NaN,0.157054,0.033583,0.033582,NaN
12,170,NaN,1.0,0.0,0.0,14848.0,571.0,0.0,4.0,2.0,...,0.089563,0.033580,0.065285,0.033580,0.033580,NaN,0.129568,0.033580,0.033580,NaN
14,240,NaN,0.0,0.0,0.0,14554.0,2919.0,0.0,4.0,1.0,...,0.033639,0.033580,0.080125,0.033581,0.033583,NaN,0.097409,0.033580,0.033580,NaN
24,302,5.0,0.0,0.0,0.0,20218.0,569.0,0.0,4.0,1.0,...,0.033579,0.033579,0.038498,0.033580,0.033580,NaN,0.046699,0.033580,0.033582,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463429,4101587,NaN,1.0,0.0,NaN,6463.0,79.0,11.0,6.0,1.0,...,0.033579,0.033579,0.034816,0.033580,0.033580,0.034828,NaN,NaN,0.033580,NaN
463436,4101629,NaN,0.0,0.0,NaN,13797.0,77.0,12.0,5.0,1.0,...,0.040400,0.033580,0.033579,0.033579,NaN,NaN,NaN,NaN,NaN,NaN
463437,4101643,NaN,0.0,0.0,NaN,11627.0,79.0,3.0,6.0,1.0,...,0.033579,0.033579,0.151131,0.033580,0.033581,0.044536,NaN,NaN,0.033580,NaN
463445,4101686,NaN,0.0,0.0,0.0,6638.0,64.0,7.0,5.0,1.0,...,0.033579,0.033579,0.036477,0.033580,0.033580,0.037085,NaN,NaN,NaN,NaN
463453,4101725,NaN,1.0,0.0,0.0,6445.0,79.0,3.0,5.0,1.0,...,0.033579,0.033579,0.047054,0.033580,0.033580,0.037586,NaN,NaN,NaN,NaN

In [79]:
for j in range(len(lrs1)):
    b = testdata.copy()
    features = []
    for i in range(len(names)):
        if i!=j:
            features.append(names[i])
            b = b[b[names[i]].isnull() == False]
        else:
            b = b[b[names[i]].isnull() == True]

    pred = lrs1[j].predict(b[features])
    b = testdata.copy()
    for i in range(len(names)):
        if i!=j:
            b = b[b[names[i]].isnull() == False]
        else:
            b = b[b[names[i]].isnull() == True]
    b[names[j]] = pred
    testdata[names[j]].loc[b.index] = b[names[j]]

In [80]:
names = list(lstdata[32][lstdata[32]>0.5].index)
names.append('transfers_count_out_10')
print(names)
b = data.copy()
for i in names:
    b = b[b[i].isnull() == False]
b

['transfers_count_out_9', 'auth_count_10', 'transfers_count_out_10']

,client_id,cato_code,gender,country,citizenship,age_days,client_days,opsos_code,phone_digits,max_dup,...,transfers_count_in_10,transfers_amount_out_10,transfers_count_out_10,auth_count_10,salary_10,transactions_amount_8,transactions_count_8,auth_count_8,salary_8,label
3,530220,NaN,0.0,0.0,0.0,22580.0,847.0,0.0,6.0,1.0,...,0.033579,0.145198,0.03358,0.033581,0.036560,0.115086,0.033581,0.033580,0.092161,0
15,405728,4.0,1.0,0.0,0.0,8662.0,1157.0,8.0,6.0,1.0,...,0.033579,0.052181,0.03358,0.033580,NaN,0.170277,0.033580,0.033580,NaN,0
19,1645066,1.0,0.0,0.0,0.0,19633.0,1617.0,11.0,5.0,1.0,...,0.033579,0.036870,0.03358,0.033580,0.045230,0.069156,0.033581,0.033581,0.051248,0
21,929360,11.0,0.0,0.0,0.0,7834.0,1171.0,3.0,6.0,1.0,...,0.033579,0.035726,0.03358,0.033580,0.036077,0.197382,0.033585,0.033581,0.041683,0
27,1575202,10.0,1.0,0.0,0.0,11874.0,1039.0,3.0,5.0,1.0,...,0.033579,0.067861,0.03358,0.033580,0.076069,0.128690,0.033580,0.033580,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
941486,1232353,17.0,0.0,0.0,0.0,14520.0,448.0,4.0,5.0,1.0,...,0.033580,0.057845,0.03358,0.033581,NaN,0.093174,0.033580,0.033581,NaN,0
941487,647742,NaN,1.0,0.0,0.0,12716.0,990.0,11.0,5.0,1.0,...,0.033579,0.050989,0.03358,0.033581,0.050105,0.077609,0.033580,0.033581,0.050309,0
941512,1269169,1.0,0.0,0.0,0.0,12209.0,695.0,9.0,4.0,2.0,...,0.033579,0.101546,0.03358,0.033580,NaN,0.141551,0.033580,0.033580,NaN,1
941517,1123819,11.0,0.0,0.0,0.0,7254.0,807.0,11.0,6.0,1.0,...,0.033579,0.036191,0.03358,0.033580,0.036077,0.037301,0.033580,0.033580,0.035453,0
941529,1634056,5.0,1.0,0.0,NaN,17215.0,400.0,10.0,4.0,1.0,...,0.033579,0.038325,0.03358,0.033580,0.038471,0.041267,0.033580,0.033580,0.037430,0

In [81]:
from sklearn.linear_model import LinearRegression
tco9 = LinearRegression()
ac10 = LinearRegression()
tco10 = LinearRegression()
tco9.fit(b[names[1:3]], b[names[0]])
ac10.fit(b[[names[0],names[2]]], b[names[1]])
tco10.fit(b[names[0:2]], b[names[2]])
lrs2 = []
lrs2.append(tco9)
lrs2.append(ac10)
lrs2.append(tco10)
for j in range(len(lrs2)):
    b = data.copy()
    features = []
    for i in range(len(names)):
        if i!=j:
            features.append(names[i])
            b = b[b[names[i]].isnull() == False]
        else:
            b = b[b[names[i]].isnull() == True]

    pred = lrs2[j].predict(b[features])
    b = data.copy()
    for i in range(len(names)):
        if i!=j:
            b = b[b[names[i]].isnull() == False]
        else:
            b = b[b[names[i]].isnull() == True]
    b[names[j]] = pred
    data[names[j]].loc[b.index] = b[names[j]]

In [82]:
b = testdata.copy()
for i in names:
    b = b[b[i].isnull() == False]
b

,client_id,cato_code,gender,country,citizenship,age_days,client_days,opsos_code,phone_digits,max_dup,...,transfers_amount_in_10,transfers_count_in_10,transfers_amount_out_10,transfers_count_out_10,auth_count_10,salary_10,transactions_amount_8,transactions_count_8,auth_count_8,salary_8
2,10,4.0,1.0,0.0,NaN,19040.0,225.0,0.0,5.0,1.0,...,0.033579,0.033579,0.034671,0.033580,0.033580,NaN,0.057141,0.033580,0.033580,NaN
4,27,NaN,0.0,0.0,0.0,26687.0,2919.0,0.0,6.0,1.0,...,0.075314,0.033580,0.033681,0.033580,0.033581,NaN,0.157054,0.033583,0.033582,NaN
12,170,NaN,1.0,0.0,0.0,14848.0,571.0,0.0,4.0,2.0,...,0.089563,0.033580,0.065285,0.033580,0.033580,NaN,0.129568,0.033580,0.033580,NaN
14,240,NaN,0.0,0.0,0.0,14554.0,2919.0,0.0,4.0,1.0,...,0.033639,0.033580,0.080125,0.033581,0.033583,NaN,0.097409,0.033580,0.033580,NaN
24,302,5.0,0.0,0.0,0.0,20218.0,569.0,0.0,4.0,1.0,...,0.033579,0.033579,0.038498,0.033580,0.033580,NaN,0.046699,0.033580,0.033582,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463421,4101548,NaN,0.0,0.0,NaN,13602.0,80.0,5.0,6.0,1.0,...,0.033579,0.033579,0.040627,0.033580,0.033583,NaN,0.117048,0.033580,0.033581,NaN
463429,4101587,NaN,1.0,0.0,NaN,6463.0,79.0,11.0,6.0,1.0,...,0.033579,0.033579,0.034816,0.033580,0.033580,0.034828,NaN,NaN,0.033580,NaN
463437,4101643,NaN,0.0,0.0,NaN,11627.0,79.0,3.0,6.0,1.0,...,0.033579,0.033579,0.151131,0.033580,0.033581,0.044536,NaN,NaN,0.033580,NaN
463445,4101686,NaN,0.0,0.0,0.0,6638.0,64.0,7.0,5.0,1.0,...,0.033579,0.033579,0.036477,0.033580,0.033580,0.037085,NaN,NaN,NaN,NaN
463453,4101725,NaN,1.0,0.0,0.0,6445.0,79.0,3.0,5.0,1.0,...,0.033579,0.033579,0.047054,0.033580,0.033580,0.037586,NaN,NaN,NaN,NaN

In [83]:
for j in range(len(lrs2)):
    b = testdata.copy()
    features = []
    for i in range(len(names)):
        if i!=j:
            features.append(names[i])
            b = b[b[names[i]].isnull() == False]
        else:
            b = b[b[names[i]].isnull() == True]

    pred = lrs2[j].predict(b[features])
    b = testdata.copy()
    for i in range(len(names)):
        if i!=j:
            b = b[b[names[i]].isnull() == False]
        else:
            b = b[b[names[i]].isnull() == True]
    b[names[j]] = pred
    testdata[names[j]].loc[b.index] = b[names[j]]

In [85]:
names = list(lstdata[27][lstdata[27]>0.5].index)
names.append('auth_count_9')
print(names)
b = data.copy()
for i in names:
    b = b[b[i].isnull() == False]
b

['transfers_count_out_9', 'auth_count_10', 'auth_count_8', 'auth_count_9']

,client_id,cato_code,gender,country,citizenship,age_days,client_days,opsos_code,phone_digits,max_dup,...,transfers_count_in_10,transfers_amount_out_10,transfers_count_out_10,auth_count_10,salary_10,transactions_amount_8,transactions_count_8,auth_count_8,salary_8,label
3,530220,NaN,0.0,0.0,0.0,22580.0,847.0,0.0,6.0,1.0,...,0.033579,0.145198,0.03358,0.033581,0.036560,0.115086,0.033581,0.033580,0.092161,0
15,405728,4.0,1.0,0.0,0.0,8662.0,1157.0,8.0,6.0,1.0,...,0.033579,0.052181,0.03358,0.033580,NaN,0.170277,0.033580,0.033580,NaN,0
19,1645066,1.0,0.0,0.0,0.0,19633.0,1617.0,11.0,5.0,1.0,...,0.033579,0.036870,0.03358,0.033580,0.045230,0.069156,0.033581,0.033581,0.051248,0
21,929360,11.0,0.0,0.0,0.0,7834.0,1171.0,3.0,6.0,1.0,...,0.033579,0.035726,0.03358,0.033580,0.036077,0.197382,0.033585,0.033581,0.041683,0
27,1575202,10.0,1.0,0.0,0.0,11874.0,1039.0,3.0,5.0,1.0,...,0.033579,0.067861,0.03358,0.033580,0.076069,0.128690,0.033580,0.033580,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
941512,1269169,1.0,0.0,0.0,0.0,12209.0,695.0,9.0,4.0,2.0,...,0.033579,0.101546,0.03358,0.033580,NaN,0.141551,0.033580,0.033580,NaN,1
941517,1123819,11.0,0.0,0.0,0.0,7254.0,807.0,11.0,6.0,1.0,...,0.033579,0.036191,0.03358,0.033580,0.036077,0.037301,0.033580,0.033580,0.035453,0
941519,3072968,NaN,0.0,0.0,0.0,22149.0,1207.0,11.0,5.0,1.0,...,0.033579,NaN,0.03358,0.033580,NaN,0.033748,0.033580,0.033580,NaN,0
941521,824353,8.0,1.0,0.0,0.0,7731.0,662.0,5.0,6.0,1.0,...,0.033579,0.041026,0.03358,0.033580,NaN,NaN,NaN,0.033580,NaN,0
941529,1634056,5.0,1.0,0.0,NaN,17215.0,400.0,10.0,4.0,1.0,...,0.033579,0.038325,0.03358,0.033580,0.038471,0.041267,0.033580,0.033580,0.037430,0

In [86]:
from sklearn.linear_model import LinearRegression
tco9 = LinearRegression()
ac10 = LinearRegression()
ac8 = LinearRegression()
ac9 = LinearRegression()
tco9.fit(b[names[1:4]], b[names[0]])
ac10.fit(b[[names[0],names[2],names[3]]], b[names[1]])
ac8.fit(b[[names[0],names[1],names[3]]], b[names[2]])
ac9.fit(b[names[0:3]], b[names[3]])
lrs3 = []
lrs3.append(tco9)
lrs3.append(ac10)
lrs3.append(ac8)
lrs3.append(ac9)
for j in range(len(lrs3)):
    b = data.copy()
    features = []
    for i in range(len(names)):
        if i!=j:
            features.append(names[i])
            b = b[b[names[i]].isnull() == False]
        else:
            b = b[b[names[i]].isnull() == True]
    pred = lrs3[j].predict(b[features])
    b = data.copy()
    for i in range(len(names)):
        if i!=j:
            b = b[b[names[i]].isnull() == False]
        else:
            b = b[b[names[i]].isnull() == True]
    b[names[j]] = pred
    data[names[j]].loc[b.index] = b[names[j]]

['auth_count_10', 'auth_count_8', 'auth_count_9']
['transfers_count_out_9', 'auth_count_8', 'auth_count_9']
['transfers_count_out_9', 'auth_count_10', 'auth_count_9']
['transfers_count_out_9', 'auth_count_10', 'auth_count_8']

In [87]:
names = list(lstdata[27][lstdata[27]>0.5].index)
names.append('auth_count_9')
print(names)
b = testdata.copy()
for i in names:
    b = b[b[i].isnull() == False]
b

['transfers_count_out_9', 'auth_count_10', 'auth_count_8', 'auth_count_9']

,client_id,cato_code,gender,country,citizenship,age_days,client_days,opsos_code,phone_digits,max_dup,...,transfers_amount_in_10,transfers_count_in_10,transfers_amount_out_10,transfers_count_out_10,auth_count_10,salary_10,transactions_amount_8,transactions_count_8,auth_count_8,salary_8
2,10,4.0,1.0,0.0,NaN,19040.0,225.0,0.0,5.0,1.0,...,0.033579,0.033579,0.034671,0.033580,0.033580,NaN,0.057141,0.033580,0.033580,NaN
4,27,NaN,0.0,0.0,0.0,26687.0,2919.0,0.0,6.0,1.0,...,0.075314,0.033580,0.033681,0.033580,0.033581,NaN,0.157054,0.033583,0.033582,NaN
6,54,4.0,1.0,0.0,0.0,14709.0,1548.0,0.0,5.0,1.0,...,0.033579,0.033579,0.034295,0.033580,0.033580,NaN,0.066122,0.033582,0.033580,0.049222
12,170,NaN,1.0,0.0,0.0,14848.0,571.0,0.0,4.0,2.0,...,0.089563,0.033580,0.065285,0.033580,0.033580,NaN,0.129568,0.033580,0.033580,NaN
14,240,NaN,0.0,0.0,0.0,14554.0,2919.0,0.0,4.0,1.0,...,0.033639,0.033580,0.080125,0.033581,0.033583,NaN,0.097409,0.033580,0.033580,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463437,4101643,NaN,0.0,0.0,NaN,11627.0,79.0,3.0,6.0,1.0,...,0.033579,0.033579,0.151131,0.033580,0.033581,0.044536,NaN,NaN,0.033580,NaN
463440,4101665,NaN,1.0,NaN,0.0,8893.0,79.0,8.0,5.0,1.0,...,NaN,0.033579,NaN,0.033579,0.033580,NaN,0.033585,0.033580,0.033580,NaN
463461,4101791,NaN,0.0,0.0,NaN,6747.0,79.0,7.0,5.0,1.0,...,NaN,0.033579,NaN,0.033579,0.033580,NaN,NaN,NaN,0.033580,NaN
463475,4129966,NaN,NaN,NaN,NaN,NaN,NaN,9.0,4.0,2.0,...,NaN,0.033579,NaN,0.033580,0.033580,NaN,NaN,NaN,0.033580,NaN
463619,4286960,NaN,NaN,NaN,NaN,NaN,NaN,3.0,7.0,0.0,...,NaN,0.033579,NaN,0.033580,0.033580,NaN,NaN,NaN,0.033580,NaN

In [88]:
for j in range(len(lrs3)):
    b = testdata.copy()
    features = []
    for i in range(len(names)):
        if i!=j:
            features.append(names[i])
            b = b[b[names[i]].isnull() == False]
        else:
            b = b[b[names[i]].isnull() == True]
    pred = lrs3[j].predict(b[features])
    b = testdata.copy()
    for i in range(len(names)):
        if i!=j:
            b = b[b[names[i]].isnull() == False]
        else:
            b = b[b[names[i]].isnull() == True]
    b[names[j]] = pred
    testdata[names[j]].loc[b.index] = b[names[j]]

In [92]:
reservedata = data.copy()

In [93]:
reservetest = testdata.copy()

In [94]:
names = list(lstdata[37][lstdata[37]>0.5].index)
names.append('auth_count_8')
print(names)
b = data.copy()
for i in names:
    b = b[b[i].isnull() == False]
b

['auth_count_9', 'auth_count_10', 'auth_count_8']

,client_id,cato_code,gender,country,citizenship,age_days,client_days,opsos_code,phone_digits,max_dup,...,transfers_count_in_10,transfers_amount_out_10,transfers_count_out_10,auth_count_10,salary_10,transactions_amount_8,transactions_count_8,auth_count_8,salary_8,label
2,458915,NaN,0.0,0.0,0.0,7955.0,1144.0,7.0,5.0,1.0,...,NaN,NaN,NaN,0.033580,NaN,0.037251,0.033580,0.033580,NaN,0
3,530220,NaN,0.0,0.0,0.0,22580.0,847.0,0.0,6.0,1.0,...,0.033579,0.145198,0.03358,0.033581,0.036560,0.115086,0.033581,0.033580,0.092161,0
5,2251063,8.0,0.0,0.0,NaN,20418.0,203.0,5.0,4.0,1.0,...,NaN,NaN,NaN,0.033580,NaN,0.213030,0.033580,0.033580,NaN,0
7,1185590,17.0,0.0,0.0,0.0,9887.0,732.0,12.0,6.0,1.0,...,NaN,NaN,NaN,0.033580,0.049205,0.045491,0.033580,0.033580,0.039529,0
9,2210460,8.0,1.0,NaN,NaN,12905.0,334.0,0.0,5.0,1.0,...,NaN,NaN,NaN,0.033580,NaN,0.034660,0.033580,0.033583,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
941519,3072968,NaN,0.0,0.0,0.0,22149.0,1207.0,11.0,5.0,1.0,...,0.033579,NaN,0.03358,0.033580,NaN,0.033748,0.033580,0.033580,NaN,0
941521,824353,8.0,1.0,0.0,0.0,7731.0,662.0,5.0,6.0,1.0,...,0.033579,0.041026,0.03358,0.033580,NaN,NaN,NaN,0.033580,NaN,0
941523,1477505,4.0,0.0,0.0,0.0,22706.0,549.0,12.0,4.0,1.0,...,NaN,NaN,NaN,0.033580,0.048651,0.097124,0.033580,0.033581,0.065347,0
941528,1327217,9.0,1.0,0.0,0.0,11268.0,455.0,11.0,4.0,1.0,...,NaN,NaN,NaN,0.033580,NaN,NaN,NaN,0.033580,NaN,0
941529,1634056,5.0,1.0,0.0,NaN,17215.0,400.0,10.0,4.0,1.0,...,0.033579,0.038325,0.03358,0.033580,0.038471,0.041267,0.033580,0.033580,0.037430,0

In [95]:
from sklearn.linear_model import LinearRegression
ac10 = LinearRegression()
ac8 = LinearRegression()
ac9 = LinearRegression()
ac10.fit(b[[names[0],names[2]]], b[names[1]])
ac8.fit(b[[names[0],names[1]]], b[names[2]])
ac9.fit(b[names[1:3]], b[names[0]])
lrs4 = []
lrs4.append(ac9)
lrs4.append(ac10)
lrs4.append(ac8)
for j in range(len(lrs4)):
    b = data.copy()
    features = []
    for i in range(len(names)):
        if i!=j:
            features.append(names[i])
            b = b[b[names[i]].isnull() == False]
        else:
            b = b[b[names[i]].isnull() == True]
    pred = lrs4[j].predict(b[features])
    b = data.copy()
    for i in range(len(names)):
        if i!=j:
            b = b[b[names[i]].isnull() == False]
        else:
            b = b[b[names[i]].isnull() == True]
    b[names[j]] = pred
    data[names[j]].loc[b.index] = b[names[j]]

['auth_count_10', 'auth_count_8']
['auth_count_9', 'auth_count_8']
['auth_count_9', 'auth_count_10']

In [96]:
names = list(lstdata[37][lstdata[37]>0.5].index)
names.append('auth_count_8')
print(names)
b = testdata.copy()
for i in names:
    b = b[b[i].isnull() == False]
b

['auth_count_9', 'auth_count_10', 'auth_count_8']

,client_id,cato_code,gender,country,citizenship,age_days,client_days,opsos_code,phone_digits,max_dup,...,transfers_amount_in_10,transfers_count_in_10,transfers_amount_out_10,transfers_count_out_10,auth_count_10,salary_10,transactions_amount_8,transactions_count_8,auth_count_8,salary_8
2,10,4.0,1.0,0.0,NaN,19040.0,225.0,0.0,5.0,1.0,...,0.033579,0.033579,0.034671,0.03358,0.033580,NaN,0.057141,0.033580,0.033580,NaN
4,27,NaN,0.0,0.0,0.0,26687.0,2919.0,0.0,6.0,1.0,...,0.075314,0.033580,0.033681,0.03358,0.033581,NaN,0.157054,0.033583,0.033582,NaN
5,29,NaN,1.0,0.0,0.0,16473.0,2919.0,0.0,7.0,0.0,...,NaN,NaN,NaN,NaN,0.033580,NaN,0.043734,0.033590,0.033580,NaN
6,54,4.0,1.0,0.0,0.0,14709.0,1548.0,0.0,5.0,1.0,...,0.033579,0.033579,0.034295,0.03358,0.033580,NaN,0.066122,0.033582,0.033580,0.049222
10,124,NaN,NaN,NaN,NaN,NaN,416.0,0.0,4.0,1.0,...,NaN,NaN,NaN,NaN,0.033580,NaN,NaN,NaN,0.033580,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463686,4354764,NaN,NaN,NaN,NaN,NaN,NaN,3.0,4.0,1.0,...,NaN,NaN,NaN,NaN,0.033580,NaN,NaN,NaN,0.033580,NaN
463687,4355076,NaN,NaN,NaN,NaN,NaN,NaN,12.0,5.0,2.0,...,NaN,NaN,NaN,NaN,0.033580,NaN,NaN,NaN,0.033580,NaN
463690,4357337,NaN,NaN,NaN,NaN,NaN,NaN,3.0,7.0,0.0,...,NaN,NaN,NaN,NaN,0.033580,NaN,NaN,NaN,0.033580,NaN
463698,4362540,NaN,NaN,NaN,NaN,NaN,NaN,4.0,6.0,1.0,...,NaN,NaN,NaN,NaN,0.033580,NaN,NaN,NaN,0.033580,NaN
463712,4382003,NaN,NaN,NaN,NaN,NaN,NaN,0.0,6.0,1.0,...,NaN,0.033579,NaN,0.03358,0.033580,NaN,NaN,NaN,0.033580,NaN

In [97]:
for j in range(len(lrs4)):
    b = testdata.copy()
    features = []
    for i in range(len(names)):
        if i!=j:
            features.append(names[i])
            b = b[b[names[i]].isnull() == False]
        else:
            b = b[b[names[i]].isnull() == True]
    pred = lrs4[j].predict(b[features])
    b = testdata.copy()
    for i in range(len(names)):
        if i!=j:
            b = b[b[names[i]].isnull() == False]
        else:
            b = b[b[names[i]].isnull() == True]
    b[names[j]] = pred
    testdata[names[j]].loc[b.index] = b[names[j]]

In [100]:
names = list(lstdata[28][lstdata[28]>0.5].index)
names.append('salary_9')
print(names)
b = data.copy()
for i in names:
    b = b[b[i].isnull() == False]
b

['salary_10', 'salary_8', 'salary_9']

,client_id,cato_code,gender,country,citizenship,age_days,client_days,opsos_code,phone_digits,max_dup,...,transfers_count_in_10,transfers_amount_out_10,transfers_count_out_10,auth_count_10,salary_10,transactions_amount_8,transactions_count_8,auth_count_8,salary_8,label
7,1185590,17.0,0.0,0.0,0.0,9887.0,732.0,12.0,6.0,1.0,...,NaN,NaN,NaN,0.033580,0.049205,0.045491,0.033580,0.033580,0.039529,0
19,1645066,1.0,0.0,0.0,0.0,19633.0,1617.0,11.0,5.0,1.0,...,0.033579,0.036870,0.03358,0.033580,0.045230,0.069156,0.033581,0.033581,0.051248,0
21,929360,11.0,0.0,0.0,0.0,7834.0,1171.0,3.0,6.0,1.0,...,0.033579,0.035726,0.03358,0.033580,0.036077,0.197382,0.033585,0.033581,0.041683,0
30,1955071,17.0,1.0,0.0,0.0,13054.0,1036.0,8.0,6.0,1.0,...,0.033579,0.043288,0.03358,0.033583,0.038084,0.048241,0.033580,0.033581,0.038084,0
67,1149626,9.0,0.0,0.0,NaN,9662.0,435.0,8.0,4.0,2.0,...,0.033579,NaN,0.03358,0.033580,0.039728,0.045867,0.033580,0.033580,0.039728,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
941487,647742,NaN,1.0,0.0,0.0,12716.0,990.0,11.0,5.0,1.0,...,0.033579,0.050989,0.03358,0.033581,0.050105,0.077609,0.033580,0.033581,0.050309,0
941501,521160,10.0,0.0,0.0,0.0,18087.0,1048.0,3.0,4.0,1.0,...,NaN,NaN,NaN,NaN,0.053644,0.086067,0.033584,NaN,0.049304,0
941517,1123819,11.0,0.0,0.0,0.0,7254.0,807.0,11.0,6.0,1.0,...,0.033579,0.036191,0.03358,0.033580,0.036077,0.037301,0.033580,0.033580,0.035453,0
941523,1477505,4.0,0.0,0.0,0.0,22706.0,549.0,12.0,4.0,1.0,...,NaN,NaN,NaN,0.033580,0.048651,0.097124,0.033580,0.033581,0.065347,0
941529,1634056,5.0,1.0,0.0,NaN,17215.0,400.0,10.0,4.0,1.0,...,0.033579,0.038325,0.03358,0.033580,0.038471,0.041267,0.033580,0.033580,0.037430,0

In [101]:
from sklearn.linear_model import LinearRegression
s10 = LinearRegression()
s8 = LinearRegression()
s9 = LinearRegression()
s10.fit(b[[names[0],names[2]]], b[names[1]])
s8.fit(b[[names[0],names[1]]], b[names[2]])
s9.fit(b[names[1:3]], b[names[0]])
lrs5 = []
lrs5.append(s10)
lrs5.append(s8)
lrs5.append(s9)
for j in range(len(lrs5)):
    b = data.copy()
    features = []
    for i in range(len(names)):
        if i!=j:
            features.append(names[i])
            b = b[b[names[i]].isnull() == False]
        else:
            b = b[b[names[i]].isnull() == True]
    pred = lrs5[j].predict(b[features])
    b = data.copy()
    for i in range(len(names)):
        if i!=j:
            b = b[b[names[i]].isnull() == False]
        else:
            b = b[b[names[i]].isnull() == True]
    b[names[j]] = pred
    data[names[j]].loc[b.index] = b[names[j]]

['salary_8', 'salary_9']
['salary_10', 'salary_9']
['salary_10', 'salary_8']

In [102]:
names = list(lstdata[28][lstdata[28]>0.5].index)
names.append('salary_9')
print(names)
b = testdata.copy()
for i in names:
    b = b[b[i].isnull() == False]
b

['salary_10', 'salary_8', 'salary_9']

,client_id,cato_code,gender,country,citizenship,age_days,client_days,opsos_code,phone_digits,max_dup,...,transfers_amount_in_10,transfers_count_in_10,transfers_amount_out_10,transfers_count_out_10,auth_count_10,salary_10,transactions_amount_8,transactions_count_8,auth_count_8,salary_8
31,351,3.0,1.0,0.0,0.0,18789.0,2919.0,10.0,5.0,1.0,...,0.033579,0.033579,0.226387,0.033581,0.033581,0.164148,0.333598,0.033585,0.033580,0.153416
102,1106,NaN,1.0,0.0,NaN,16837.0,350.0,0.0,5.0,1.0,...,NaN,0.033579,NaN,NaN,0.033580,0.046112,0.056949,0.033580,0.033580,0.045263
136,1954,NaN,1.0,0.0,0.0,15353.0,1089.0,3.0,5.0,1.0,...,0.033579,0.033579,0.085091,0.033580,0.033582,0.062190,0.090689,0.033580,0.033580,0.062190
144,1977,8.0,1.0,0.0,0.0,11345.0,1345.0,0.0,5.0,1.0,...,0.075714,0.033580,0.313996,0.033582,0.033583,0.142646,0.330572,0.033591,0.033588,0.087837
167,2088,NaN,0.0,0.0,0.0,23112.0,1138.0,0.0,7.0,0.0,...,0.040078,0.033580,0.079398,0.033580,0.033581,0.039541,0.116392,0.033580,0.033581,0.045503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462113,4093174,NaN,1.0,NaN,NaN,10533.0,86.0,11.0,6.0,1.0,...,0.033579,0.033579,0.042999,0.033580,0.033581,0.035628,0.035045,0.033580,0.033580,0.034568
462292,4094341,NaN,0.0,0.0,NaN,16614.0,94.0,5.0,5.0,1.0,...,0.033579,0.033579,0.037553,0.033580,0.033580,0.037563,0.037665,0.033580,0.033580,0.035578
462317,4094527,NaN,0.0,NaN,NaN,21030.0,85.0,8.0,5.0,1.0,...,0.033579,0.033579,0.046219,0.033580,0.033581,0.041859,0.040635,0.033580,0.033580,0.037277
462331,4094678,NaN,0.0,0.0,0.0,21486.0,98.0,5.0,5.0,1.0,...,NaN,NaN,NaN,NaN,0.033580,0.044459,0.042045,0.033580,0.033580,0.042045
462402,4095147,NaN,0.0,0.0,0.0,14094.0,100.0,9.0,6.0,1.0,...,0.033579,0.033579,0.033639,0.033580,0.033580,0.035693,0.038349,0.033580,0.033580,0.035964

In [103]:
for j in range(len(lrs5)):
    b = testdata.copy()
    features = []
    for i in range(len(names)):
        if i!=j:
            features.append(names[i])
            b = b[b[names[i]].isnull() == False]
        else:
            b = b[b[names[i]].isnull() == True]
    pred = lrs5[j].predict(b[features])
    b = testdata.copy()
    for i in range(len(names)):
        if i!=j:
            b = b[b[names[i]].isnull() == False]
        else:
            b = b[b[names[i]].isnull() == True]
    b[names[j]] = pred
    testdata[names[j]].loc[b.index] = b[names[j]]

In [105]:
reservedata = data.copy()

In [104]:
reservetest = testdata.copy()

In [106]:
l = list(data.columns)
lstdata = []
for i in l:
    x = data[data[i].isnull() == False].corr()
    lstdata.append(x[i])
j = 0
for i in l:
    lstdata[j][i] = 0
    j+=1
corrdata = {} 
for i in range(len(lstdata)):
    corrdata[l[i]] = lstdata[i].max()

In [114]:
names = list(lstdata[34][lstdata[34]>0.45].index)
names.append('salary_10')
print(names)
b = data.copy()
for i in names:
    b = b[b[i].isnull() == False]
b

['salary_9', 'transfers_amount_out_10', 'transactions_amount_8', 'salary_8', 'salary_10']

,client_id,cato_code,gender,country,citizenship,age_days,client_days,opsos_code,phone_digits,max_dup,...,transfers_count_in_10,transfers_amount_out_10,transfers_count_out_10,auth_count_10,salary_10,transactions_amount_8,transactions_count_8,auth_count_8,salary_8,label
3,530220,NaN,0.0,0.0,0.0,22580.0,847.0,0.0,6.0,1.0,...,0.033579,0.145198,0.03358,0.033581,0.036560,0.115086,0.033581,0.033580,0.092161,0
19,1645066,1.0,0.0,0.0,0.0,19633.0,1617.0,11.0,5.0,1.0,...,0.033579,0.036870,0.03358,0.033580,0.045230,0.069156,0.033581,0.033581,0.051248,0
21,929360,11.0,0.0,0.0,0.0,7834.0,1171.0,3.0,6.0,1.0,...,0.033579,0.035726,0.03358,0.033580,0.036077,0.197382,0.033585,0.033581,0.041683,0
30,1955071,17.0,1.0,0.0,0.0,13054.0,1036.0,8.0,6.0,1.0,...,0.033579,0.043288,0.03358,0.033583,0.038084,0.048241,0.033580,0.033581,0.038084,0
80,1060804,NaN,1.0,0.0,0.0,19201.0,893.0,0.0,6.0,1.0,...,0.033579,0.044490,0.03358,0.033580,0.044806,0.070326,0.033580,0.033582,0.043310,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
941470,405098,2.0,0.0,0.0,NaN,15250.0,191.0,5.0,5.0,1.0,...,0.033579,0.039124,0.03358,0.033580,0.039105,0.046301,0.033580,0.033580,0.039945,0
941479,592089,16.0,0.0,0.0,0.0,17096.0,1008.0,0.0,7.0,0.0,...,0.033579,0.052169,0.03358,0.033580,0.052184,0.076346,0.033580,0.033580,0.052748,0
941487,647742,NaN,1.0,0.0,0.0,12716.0,990.0,11.0,5.0,1.0,...,0.033579,0.050989,0.03358,0.033581,0.050105,0.077609,0.033580,0.033581,0.050309,0
941517,1123819,11.0,0.0,0.0,0.0,7254.0,807.0,11.0,6.0,1.0,...,0.033579,0.036191,0.03358,0.033580,0.036077,0.037301,0.033580,0.033580,0.035453,0
941529,1634056,5.0,1.0,0.0,NaN,17215.0,400.0,10.0,4.0,1.0,...,0.033579,0.038325,0.03358,0.033580,0.038471,0.041267,0.033580,0.033580,0.037430,0

In [115]:
import warnings
warnings.filterwarnings('ignore')
from sklearn.impute import KNNImputer
x = data.copy()
imp1 = KNNImputer(n_neighbors = 5, weights = 'distance')
imp1.fit(b[names])
x = x[names].dropna(thresh = 3 , axis = 0)
g = np.array(x)
h = imp1.transform(np.expand_dims(g[0], axis=0))
new = []
print("Iteration max: {}\n".format(g.shape[0]))
for i in range(g.shape[0]):
    if i%10000 == 0:
        print(len(new))
    new.append(imp1.transform(np.expand_dims(g[i], axis=0)))

Iteration max: 115995

0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000

In [117]:
new = np.squeeze(new)
b = data[names].dropna(thresh = 3, axis = 0)
for i in range(len(names)):
    b[names[i]] = new[:,i]
for i in names:
    data[i].loc[b.index] = b[i]

In [119]:
names = list(lstdata[34][lstdata[34]>0.45].index)
names.append('salary_10')
print(names)
b = testdata.copy()
for i in names:
    b = b[b[i].isnull() == False]
b

['salary_9', 'transfers_amount_out_10', 'transactions_amount_8', 'salary_8', 'salary_10']

,client_id,cato_code,gender,country,citizenship,age_days,client_days,opsos_code,phone_digits,max_dup,...,transfers_amount_in_10,transfers_count_in_10,transfers_amount_out_10,transfers_count_out_10,auth_count_10,salary_10,transactions_amount_8,transactions_count_8,auth_count_8,salary_8
6,54,4.0,1.0,0.0,0.0,14709.0,1548.0,0.0,5.0,1.0,...,0.033579,0.033579,0.034295,0.033580,0.033580,0.048502,0.066122,0.033582,0.033580,0.049222
31,351,3.0,1.0,0.0,0.0,18789.0,2919.0,10.0,5.0,1.0,...,0.033579,0.033579,0.226387,0.033581,0.033581,0.164148,0.333598,0.033585,0.033580,0.153416
48,530,NaN,1.0,0.0,0.0,21230.0,2377.0,0.0,4.0,1.0,...,0.033579,0.033579,0.033758,0.033580,0.033581,0.036413,0.042308,0.033583,0.033581,0.039088
100,1102,NaN,1.0,2.0,0.0,14106.0,2919.0,0.0,7.0,0.0,...,0.033579,0.033579,0.034772,0.033580,0.033580,0.063089,0.083957,0.033587,0.033580,0.067282
136,1954,NaN,1.0,0.0,0.0,15353.0,1089.0,3.0,5.0,1.0,...,0.033579,0.033579,0.085091,0.033580,0.033582,0.062190,0.090689,0.033580,0.033580,0.062190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462317,4094527,NaN,0.0,NaN,NaN,21030.0,85.0,8.0,5.0,1.0,...,0.033579,0.033579,0.046219,0.033580,0.033581,0.041859,0.040635,0.033580,0.033580,0.037277
462320,4094550,NaN,0.0,0.0,0.0,6542.0,94.0,7.0,5.0,2.0,...,0.033579,0.033579,0.037704,0.033580,0.033581,0.036077,0.033776,0.033580,0.033581,0.039246
462379,4095038,NaN,0.0,0.0,NaN,7483.0,95.0,6.0,5.0,1.0,...,0.033579,0.033579,0.039448,0.033581,0.033581,0.040584,0.042207,0.033580,0.033580,0.037917
462402,4095147,NaN,0.0,0.0,0.0,14094.0,100.0,9.0,6.0,1.0,...,0.033579,0.033579,0.033639,0.033580,0.033580,0.035693,0.038349,0.033580,0.033580,0.035964
463422,4101552,NaN,0.0,0.0,NaN,6487.0,79.0,5.0,4.0,1.0,...,0.033579,0.033579,0.035034,0.033580,0.033581,0.036077,0.033699,0.033580,0.033580,0.038629

In [120]:
x = testdata.copy()
x = x[names].dropna(thresh = 3 , axis = 0)
g = np.array(x)
h = imp1.transform(np.expand_dims(g[0], axis=0))
new = []
print("Iteration max: {}\n".format(g.shape[0]))
for i in range(g.shape[0]):
    if i%10000 == 0:
        print(len(new))
    new.append(imp1.transform(np.expand_dims(g[i], axis=0)))
new = np.squeeze(new)
b = testdata[names].dropna(thresh = 3, axis = 0)
for i in range(len(names)):
    b[names[i]] = new[:,i]
for i in names:
    testdata[i].loc[b.index] = b[i]

Iteration max: 56492

0
10000
20000
30000
40000
50000

In [129]:
names = list(lstdata[16][lstdata[16]>0.3].index)
names.append('expired_day_express')
print(names)
b = data.copy()
for i in names:
    b = b[b[i].isnull() == False]
b

['expired_day_product', 'expired_day_express']

,client_id,cato_code,gender,country,citizenship,age_days,client_days,opsos_code,phone_digits,max_dup,...,transfers_count_in_10,transfers_amount_out_10,transfers_count_out_10,auth_count_10,salary_10,transactions_amount_8,transactions_count_8,auth_count_8,salary_8,label
26,1231481,10.0,1.0,0.0,NaN,14159.0,302.0,5.0,4.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
285,1000040,4.0,0.0,0.0,0.0,16833.0,1015.0,12.0,5.0,1.0,...,0.033579,0.108590,0.03358,0.033583,0.075591,0.234223,0.033583,0.033582,0.058827,1
336,978417,14.0,1.0,0.0,0.0,14818.0,1044.0,11.0,4.0,1.0,...,0.033579,0.060409,0.03358,0.033580,0.057174,0.106688,0.033583,0.033581,0.066122,0
373,89507,NaN,1.0,0.0,0.0,13165.0,2919.0,7.0,5.0,1.0,...,0.033579,0.045503,0.03358,0.033581,NaN,0.117573,0.033581,0.033582,NaN,1
374,2159113,8.0,0.0,0.0,NaN,9099.0,288.0,5.0,5.0,1.0,...,0.033579,0.057457,0.03358,0.033582,NaN,0.072972,0.033580,0.033580,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
941327,999794,2.0,1.0,0.0,0.0,11964.0,1071.0,5.0,6.0,1.0,...,0.033579,0.039571,0.03358,0.033582,0.053099,0.112481,0.033581,0.033582,0.071579,0
941340,2483273,4.0,1.0,0.0,0.0,11722.0,232.0,7.0,5.0,1.0,...,0.033579,0.038348,0.03358,0.033580,NaN,0.148564,0.033580,0.033580,NaN,0
941379,2044801,11.0,1.0,0.0,NaN,13192.0,324.0,10.0,4.0,1.0,...,0.033579,0.081075,0.03358,0.033581,NaN,0.055059,0.033581,0.033581,NaN,1
941456,2131075,17.0,0.0,0.0,NaN,11313.0,346.0,8.0,5.0,1.0,...,NaN,NaN,NaN,0.033580,NaN,0.038217,0.033580,0.033580,NaN,0
941488,1895089,16.0,1.0,0.0,NaN,10962.0,297.0,4.0,4.0,1.0,...,NaN,NaN,NaN,0.033580,NaN,0.055297,0.033581,0.033580,NaN,0

In [133]:
reservedata = data.copy()
reservedata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 941531 entries, 0 to 941530
Data columns (total 40 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   client_id                941531 non-null  int64
 1   cato_code                736732 non-null  float64
 2   gender                   870421 non-null  float64
 3   country                  857321 non-null  float64
 4   citizenship              645816 non-null  float64
 5   age_days                 936053 non-null  float64
 6   client_days              937166 non-null  float64
 7   opsos_code               925714 non-null  float64
 8   phone_digits             925714 non-null  float64
 9   max_dup                  925714 non-null  float64
 10  monthly_installment      503229 non-null  float64
 11  date_close               32329 non-null   float64
 12  deposit_sum_KZT          90525 non-null   float64
 13  deposit_sum_USD          90525 non-null   float64
 14  deposit_sum_EUR          90525 non-null   float64
 15  deal_sum_kzt_express     158439 non-null  float64
 16  expired_day_express      158439 non-null  float64
 17  deal_start_date_express  158439 non-null  float64
 18  plan_end_date_express    158439 non-null  float64
 19  deal_sum_kzt_product     78306 non-null   float64
 20  expired_day_product      78306 non-null   float64
 21  deal_start_date_product  78306 non-null   float64
 22  plan_end_date_product    78306 non-null   float64
 23  transfers_amount_in_9    227113 non-null  float64
 24  transfers_count_in_9     307032 non-null  float64
 25  transfers_amount_out_9   227113 non-null  float64
 26  transfers_count_out_9    436540 non-null  float64
 27  auth_count_9             529101 non-null  float64
 28  salary_9                 117522 non-null  float64
 29  transfers_amount_in_10   240575 non-null  float64
 30  transfers_count_in_10    307032 non-null  float64
 31  transfers_amount_out_10  268831 non-null  float64
 32  transfers_count_out_10   290267 non-null  float64
 33  auth_count_10            561550 non-null  float64
 34  salary_10                124102 non-null  float64
 35  transactions_amount_8    384412 non-null  float64
 36  transactions_count_8     374804 non-null  float64
 37  auth_count_8             543463 non-null  float64
 38  salary_8                 120767 non-null  float64
 39  label                    941531 non-null  int64
dtypes: float64(38), int64(2)
memory usage: 287.3 MB

In [134]:
import warnings
warnings.filterwarnings('ignore')
from sklearn.linear_model import LinearRegression
ep = LinearRegression()
eds = LinearRegression()
a = np.array(b[names[0]]).reshape(-1,1)
c = np.array(b[names[1]]).reshape(-1,1)
ep.fit(a,c)
eds.fit(c,a)
lrs6 = []
lrs6.append(ep)
lrs6.append(eds)
for j in range(len(lrs6)):
    b = data.copy()
    features = []
    for i in range(len(names)):
        if i!=j:
            features.append(names[i])
            b = b[b[names[i]].isnull() == False]
        else:
            b = b[b[names[i]].isnull() == True]

    pred = lrs6[j].predict(b[features])
    b = data.copy()
    for i in range(len(names)):
        if i!=j:
            b = b[b[names[i]].isnull() == False]
        else:
            b = b[b[names[i]].isnull() == True]
    b[names[j]] = pred
    data[names[j]].loc[b.index] = b[names[j]]

In [137]:
names = list(lstdata[16][lstdata[16]>0.3].index)
names.append('expired_day_express')
print(names)
b = testdata.copy()
for i in names:
    b = b[b[i].isnull() == False]
b

['expired_day_product', 'expired_day_express']

,client_id,cato_code,gender,country,citizenship,age_days,client_days,opsos_code,phone_digits,max_dup,...,transfers_amount_in_10,transfers_count_in_10,transfers_amount_out_10,transfers_count_out_10,auth_count_10,salary_10,transactions_amount_8,transactions_count_8,auth_count_8,salary_8
232,3448,10.0,0.0,0.0,0.0,14628.0,2919.0,10.0,4.0,2.0,...,NaN,0.033579,NaN,0.033580,0.033580,NaN,0.046769,0.03358,0.033580,NaN
262,3621,5.0,0.0,0.0,0.0,20148.0,2919.0,0.0,5.0,1.0,...,0.033579,0.033579,0.045802,0.033580,0.033581,0.049249,0.081519,0.03358,0.033580,0.04808
290,3771,8.0,1.0,0.0,NaN,14600.0,336.0,4.0,5.0,1.0,...,NaN,0.033579,NaN,0.033580,0.033581,NaN,0.074879,0.03358,0.033581,NaN
425,4466,4.0,0.0,0.0,NaN,11535.0,355.0,0.0,6.0,1.0,...,NaN,NaN,NaN,NaN,0.033580,NaN,0.036131,0.03358,0.033580,NaN
428,4482,6.0,1.0,0.0,NaN,17354.0,339.0,3.0,5.0,1.0,...,0.037025,0.033580,0.033579,0.033579,0.033580,NaN,0.050276,0.03358,0.033580,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462988,4098781,NaN,1.0,0.0,NaN,7180.0,64.0,4.0,6.0,1.0,...,0.033579,0.033579,0.111443,0.033580,0.033581,NaN,NaN,NaN,0.033580,NaN
463086,4099553,NaN,0.0,0.0,NaN,12575.0,61.0,3.0,6.0,1.0,...,NaN,0.033579,NaN,0.033580,0.033580,NaN,NaN,NaN,0.033580,NaN
463421,4101548,NaN,0.0,0.0,NaN,13602.0,80.0,5.0,6.0,1.0,...,0.033579,0.033579,0.040627,0.033580,0.033583,NaN,0.117048,0.03358,0.033581,NaN
463697,4362084,NaN,NaN,NaN,NaN,NaN,NaN,2.0,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.033580,NaN
463738,4570143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [138]:
for j in range(len(lrs6)):
    b = testdata.copy()
    features = []
    for i in range(len(names)):
        if i!=j:
            features.append(names[i])
            b = b[b[names[i]].isnull() == False]
        else:
            b = b[b[names[i]].isnull() == True]

    pred = lrs6[j].predict(b[features])
    b = testdata.copy()
    for i in range(len(names)):
        if i!=j:
            b = b[b[names[i]].isnull() == False]
        else:
            b = b[b[names[i]].isnull() == True]
    b[names[j]] = pred
    testdata[names[j]].loc[b.index] = b[names[j]]

In [145]:
names = list(lstdata[17][lstdata[17]>0.3].index)
names.append('deal_start_date_express')
print(names)
b = data.copy()
for i in names:
    b = b[b[i].isnull() == False]
b

['date_close', 'deal_sum_kzt_express', 'deal_start_date_express']

,client_id,cato_code,gender,country,citizenship,age_days,client_days,opsos_code,phone_digits,max_dup,...,transfers_count_in_10,transfers_amount_out_10,transfers_count_out_10,auth_count_10,salary_10,transactions_amount_8,transactions_count_8,auth_count_8,salary_8,label
11,2680837,NaN,1.0,0.0,NaN,9300.0,22.0,4.0,3.0,2.0,...,0.033579,NaN,0.03358,0.033580,NaN,NaN,NaN,0.033580,NaN,0
12,1052041,5.0,0.0,0.0,0.0,14043.0,911.0,3.0,5.0,1.0,...,NaN,NaN,NaN,0.033580,NaN,0.033700,0.033580,0.033580,NaN,0
16,1202637,1.0,NaN,NaN,NaN,NaN,NaN,3.0,3.0,2.0,...,NaN,NaN,NaN,0.033580,NaN,NaN,NaN,NaN,NaN,0
26,1231481,10.0,1.0,0.0,NaN,14159.0,302.0,5.0,4.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
27,1575202,10.0,1.0,0.0,0.0,11874.0,1039.0,3.0,5.0,1.0,...,0.033579,0.067861,0.03358,0.033580,0.076069,0.128690,0.033580,0.033580,0.067165,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
941474,1597728,5.0,1.0,0.0,0.0,17767.0,18.0,0.0,5.0,1.0,...,0.033580,0.033918,0.03358,0.033580,NaN,NaN,NaN,0.033580,NaN,0
941488,1895089,16.0,1.0,0.0,NaN,10962.0,297.0,4.0,4.0,1.0,...,NaN,NaN,NaN,0.033580,NaN,0.055297,0.033581,0.033580,NaN,0
941494,1924898,13.0,1.0,0.0,0.0,8584.0,121.0,11.0,5.0,1.0,...,NaN,NaN,NaN,0.033580,NaN,0.151288,0.033580,0.033583,NaN,0
941505,4094989,NaN,0.0,0.0,NaN,7556.0,95.0,6.0,5.0,1.0,...,NaN,NaN,NaN,0.033580,NaN,0.045503,0.033580,0.033580,NaN,0
941509,139690,1.0,0.0,0.0,0.0,12325.0,2919.0,10.0,5.0,1.0,...,0.033580,0.034224,0.03358,0.033585,NaN,0.043517,0.033580,0.033580,NaN,0

In [146]:
import warnings
warnings.filterwarnings('ignore')
from sklearn.impute import KNNImputer
x = data.copy()
imp2 = KNNImputer(n_neighbors = 5, weights = 'distance')
imp2.fit(b[names])
x = x[names].dropna(thresh = 2 , axis = 0)
g = np.array(x)
h = imp2.transform(np.expand_dims(g[0], axis=0))
new = []
print("Iteration max: {}\n".format(g.shape[0]))
for i in range(g.shape[0]):
    if i%10000 == 0:
        print(len(new))
    new.append(imp2.transform(np.expand_dims(g[i], axis=0)))
new = np.squeeze(new)
b = data[names].dropna(thresh = 2, axis = 0)
for i in range(len(names)):
    b[names[i]] = new[:,i]
for i in names:
    data[i].loc[b.index] = b[i]

Iteration max: 158439

0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000

In [147]:
names = list(lstdata[17][lstdata[17]>0.3].index)
names.append('deal_start_date_express')
print(names)
b = testdata.copy()
for i in names:
    b = b[b[i].isnull() == False]
b

['date_close', 'deal_sum_kzt_express', 'deal_start_date_express']

,client_id,cato_code,gender,country,citizenship,age_days,client_days,opsos_code,phone_digits,max_dup,...,transfers_amount_in_10,transfers_count_in_10,transfers_amount_out_10,transfers_count_out_10,auth_count_10,salary_10,transactions_amount_8,transactions_count_8,auth_count_8,salary_8
1049,9276,3.0,1.0,0.0,0.0,16801.0,2919.0,0.0,5.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.033585,0.033580,0.033580,NaN
2646,21778,8.0,1.0,0.0,0.0,9321.0,904.0,0.0,5.0,1.0,...,NaN,NaN,NaN,NaN,0.03358,NaN,0.044848,0.033580,0.033581,NaN
5369,39225,14.0,1.0,0.0,0.0,17844.0,288.0,3.0,7.0,0.0,...,NaN,NaN,NaN,NaN,0.03358,NaN,NaN,NaN,0.033580,NaN
5539,40712,4.0,NaN,0.0,0.0,12636.0,871.0,6.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.033580,NaN
6355,47942,6.0,1.0,0.0,NaN,10581.0,270.0,12.0,5.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.049143,0.033582,0.033580,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459316,4070308,NaN,1.0,NaN,NaN,15586.0,173.0,0.0,4.0,2.0,...,NaN,NaN,NaN,NaN,0.03358,NaN,NaN,NaN,0.033580,NaN
459709,4073809,NaN,1.0,0.0,NaN,8039.0,149.0,11.0,5.0,1.0,...,NaN,NaN,NaN,NaN,0.03358,NaN,NaN,NaN,0.033580,NaN
459985,4075919,NaN,1.0,NaN,NaN,10215.0,152.0,8.0,5.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
461124,4085983,NaN,1.0,0.0,NaN,16594.0,113.0,12.0,5.0,1.0,...,NaN,NaN,NaN,NaN,0.03358,NaN,0.156027,0.033580,0.033580,NaN
461416,4088268,NaN,1.0,0.0,NaN,11896.0,123.0,12.0,5.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.033580,NaN

In [149]:
x = testdata.copy()
x = x[names].dropna(thresh = 2 , axis = 0)
g = np.array(x)
h = imp2.transform(np.expand_dims(g[0], axis=0))
new = []
print("Iteration max: {}\n".format(g.shape[0]))
for i in range(g.shape[0]):
    if i%10000 == 0:
        print(len(new))
    new.append(imp2.transform(np.expand_dims(g[i], axis=0)))
new = np.squeeze(new)
b = testdata[names].dropna(thresh = 2, axis = 0)
for i in range(len(names)):
    b[names[i]] = new[:,i]
for i in names:
    testdata[i].loc[b.index] = b[i]

Iteration max: 77862

0
10000
20000
30000
40000
50000
60000
70000

In [150]:
data_raw = pd.read_csv("train_data.csv")

In [161]:
for i in set(data_raw.columns).difference(data.columns):
    data_raw = data_raw.drop(columns=[i])

In [162]:
for i in data_raw.columns:
    print(i)
    print('Available % after imputting:', 100 - data[i].isna().mean()*100)
    print('Availability % difference with raw data:', -(data[i].isna().mean()-data_raw[i].isna().mean())*100)

client_id
Available % after imputting: 100.0
Availability % difference with raw data: -0.0
cato_code
Available % after imputting: 78.24829984355269
Availability % difference with raw data: -0.0
gender
Available % after imputting: 92.4474074671997
Availability % difference with raw data: -0.0
country
Available % after imputting: 91.05605657169015
Availability % difference with raw data: -0.0
citizenship
Available % after imputting: 68.59211220873237
Availability % difference with raw data: -0.0
age_days
Available % after imputting: 99.41818166369455
Availability % difference with raw data: -0.0
client_days
Available % after imputting: 99.53639338481686
Availability % difference with raw data: -0.0
opsos_code
Available % after imputting: 98.32007655616225
Availability % difference with raw data: -0.0
phone_digits
Available % after imputting: 98.32007655616225
Availability % difference with raw data: -0.0
max_dup
Available % after imputting: 98.32007655616225
Availability % difference with raw data: -0.0
monthly_installment
Available % after imputting: 53.4479480760591
Availability % difference with raw data: -0.0
date_close
Available % after imputting: 19.970983430179146
Availability % difference with raw data: 16.537320598047224
deposit_sum_KZT
Available % after imputting: 9.614659527939068
Availability % difference with raw data: -0.0
deposit_sum_USD
Available % after imputting: 9.614659527939068
Availability % difference with raw data: -0.0
deposit_sum_EUR
Available % after imputting: 9.614659527939068
Availability % difference with raw data: -0.0
deal_sum_kzt_express
Available % after imputting: 16.82780492623185
Availability % difference with raw data: -0.0
expired_day_express
Available % after imputting: 23.265086332792023
Availability % difference with raw data: 6.437281406560169
deal_start_date_express
Available % after imputting: 16.82780492623185
Availability % difference with raw data: -0.0
plan_end_date_express
Available % after imputting: 16.82780492623185
Availability % difference with raw data: -0.0
deal_sum_kzt_product
Available % after imputting: 8.316879635402344
Availability % difference with raw data: -0.0
expired_day_product
Available % after imputting: 23.265086332792023
Availability % difference with raw data: 14.948206697389676
deal_start_date_product
Available % after imputting: 8.316879635402344
Availability % difference with raw data: -0.0
plan_end_date_product
Available % after imputting: 8.316879635402344
Availability % difference with raw data: -0.0
transfers_amount_in_9
Available % after imputting: 24.121669918462587
Availability % difference with raw data: -0.0
transfers_count_in_9
Available % after imputting: 32.60986627099905
Availability % difference with raw data: 8.488196352536459
transfers_amount_out_9
Available % after imputting: 24.121669918462587
Availability % difference with raw data: -0.0
transfers_count_out_9
Available % after imputting: 46.36490991799527
Availability % difference with raw data: 22.243239999532683
auth_count_9
Available % after imputting: 56.195812989694446
Availability % difference with raw data: 2.7608225326622273
salary_9
Available % after imputting: 12.482010682601
Availability % difference with raw data: 1.0610378203160575
transfers_amount_in_10
Available % after imputting: 25.55146883108469
Availability % difference with raw data: -0.0
transfers_count_in_10
Available % after imputting: 32.60986627099905
Availability % difference with raw data: 7.058397439914355
transfers_amount_out_10
Available % after imputting: 28.55253836570438
Availability % difference with raw data: 3.0010695346196825
transfers_count_out_10
Available % after imputting: 30.829255754722894
Availability % difference with raw data: 5.277786923638206
auth_count_10
Available % after imputting: 59.6422210208692
Availability % difference with raw data: 5.46769038937645
salary_10
Available % after imputting: 13.18087243011648
Availability % difference with raw data: 1.3919881554616986
transactions_amount_8
Available % after imputting: 40.8283954537875
Availability % difference with raw data: 1.02046560336303
transactions_count_8
Available % after imputting: 39.80792985042447
Availability % difference with raw data: -0.0
auth_count_8
Available % after imputting: 57.72120089513781
Availability % difference with raw data: 6.373236781369918
salary_8
Available % after imputting: 12.826662106717677
Availability % difference with raw data: 2.064191194979248

In [158]:
from sklearn.ensemble import HistGradientBoostingClassifier as HGBC
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, confusion_matrix

In [156]:
labels = data["label"]
data = data.drop(columns=["label"])

In [168]:
data = data.drop(columns=["client_id"])

In [169]:
testdata = testdata.drop(columns=["client_id"])

In [170]:
y = train_test_split(data, train_size=0.8)
y_train = y[0]
y_test = y[1]

l_train = labels[y_train.index]
l_test = labels[y_test.index]


hgbc1111= HGBC(max_iter=100, max_leaf_nodes=50, l2_regularization=5)
hgbc1111.fit(y_train, l_train)
predicted = hgbc1111.predict(y_test)
print(f1_score(l_test,predicted, average = 'macro'))
confusion_matrix(l_test,predicted)

0.7188189533224292

array([[185454,    354],
       [  1687,    812]], dtype=int64)

In [171]:
data.columns

Index(['cato_code', 'gender', 'country', 'citizenship', 'age_days',
       'client_days', 'opsos_code', 'phone_digits', 'max_dup',
       'monthly_installment', 'date_close', 'deposit_sum_KZT',
       'deposit_sum_USD', 'deposit_sum_EUR', 'deal_sum_kzt_express',
       'expired_day_express', 'deal_start_date_express',
       'plan_end_date_express', 'deal_sum_kzt_product', 'expired_day_product',
       'deal_start_date_product', 'plan_end_date_product',
       'transfers_amount_in_9', 'transfers_count_in_9',
       'transfers_amount_out_9', 'transfers_count_out_9', 'auth_count_9',
       'salary_9', 'transfers_amount_in_10', 'transfers_count_in_10',
       'transfers_amount_out_10', 'transfers_count_out_10', 'auth_count_10',
       'salary_10', 'transactions_amount_8', 'transactions_count_8',
       'auth_count_8', 'salary_8'],
      dtype='object')

In [172]:
testdata.columns

Index(['cato_code', 'gender', 'country', 'citizenship', 'age_days',
       'client_days', 'opsos_code', 'phone_digits', 'max_dup',
       'monthly_installment', 'date_close', 'deposit_sum_KZT',
       'deposit_sum_USD', 'deposit_sum_EUR', 'deal_sum_kzt_express',
       'expired_day_express', 'deal_start_date_express',
       'plan_end_date_express', 'deal_sum_kzt_product', 'expired_day_product',
       'deal_start_date_product', 'plan_end_date_product',
       'transfers_amount_in_9', 'transfers_count_in_9',
       'transfers_amount_out_9', 'transfers_count_out_9', 'auth_count_9',
       'salary_9', 'transfers_amount_in_10', 'transfers_count_in_10',
       'transfers_amount_out_10', 'transfers_count_out_10', 'auth_count_10',
       'salary_10', 'transactions_amount_8', 'transactions_count_8',
       'auth_count_8', 'salary_8'],
      dtype='object')

In [188]:
result = pd.concat([pd.Series(testdata.index),pd.DataFrame(predicted)], axis=1)
result.columns = ["id","target"]

In [190]:
result.to_csv("result.csv", index=False)

In [191]:
data_fi = data.copy()
testdata_fi = testdata.copy()

In [193]:
from tqdm import tqdm

In [194]:
frame = np.ones((len(data_fi),7))*np.NaN
frame = pd.DataFrame(frame, index = data_fi.index,  columns = ["sum_depos","ti","to", "tci", "tco", "dif", "ac"])
for i in tqdm(data_fi.index):
    dKZ = data_fi.loc[i,"deposit_sum_KZT"]
    dUSD = data_fi.loc[i,"deposit_sum_USD"]
    dEUR = data_fi.loc[i,"deposit_sum_EUR"]
    
    if str(dKZ)=="nan" or str(dUSD)=="nan" or str(dEUR)=="nan":
        sum_depos = None
    else:
        sum_depos = dKZ+dUSD+dEUR
        
    ti9 = data_fi.loc[i,"transfers_amount_in_9"]
    ti10 = data_fi.loc[i,"transfers_amount_in_10"]
    to9 = data_fi.loc[i,"transfers_amount_out_9"]
    to10 = data_fi.loc[i,"transfers_amount_out_10"]
    tci9 = data_fi.loc[i,"transfers_count_in_9"]
    tci10 = data_fi.loc[i,"transfers_count_in_10"]
    tco9 = data_fi.loc[i,"transfers_count_out_9"]
    tco10 = data_fi.loc[i,"transfers_count_out_10"]
    
    if str(ti9)=="nan" or str(ti10)=="nan":
        ti = None
    else:
        ti = ti9+ti10
        
    if str(to9)=="nan" or str(to10)=="nan":
        to = None
    else:
        to = to9+to10

    if str(tci9)=="nan" or str(tci10)=="nan":
        tci = None
    else:
        tci = tci9+tci10
        
    if str(tco9)=="nan" or str(tco10)=="nan":
        tco = None
    else:
        tco = tco9+tco10
    
    
    difference=None
    if ti and to:
        difference = ti-to
    
    
    
    
    ac8 = data_fi.loc[i,"auth_count_8"]
    ac9 = data_fi.loc[i,"auth_count_9"]
    ac10 = data_fi.loc[i,"auth_count_10"]
    
    if str(ac8)=="nan" or str(ac9)=="nan" or str(ac10)=="nan":
        ac = None
    else:
        ac = ac8+ac9+ac10
    
    if sum_depos:
        frame.loc[i,"sum_depos"] = sum_depos
        
    if ti:
        frame.loc[i,"ti"] = ti
    
    if to:
        frame.loc[i,"to"] = to
        
    if tci:
        frame.loc[i,"tci"] = tci
        
    if tco:
        frame.loc[i,"tco"] = tco
        
    if ac:
        frame.loc[i,"ac"] = ac
    
    if difference:
        frame.loc[i,"dif"]=difference

100%|██████████| 941531/941531 [03:39<00:00, 4291.43it/s]

In [195]:
data_fi = pd.concat([data_fi, frame], axis=1)

In [213]:
y = train_test_split(data_fi, train_size=0.9)
y_train = y[0]
y_test = y[1]

l_train = labels[y_train.index]
l_test = labels[y_test.index]


hgbc_fi= HGBC(max_iter=500, max_leaf_nodes=200, learning_rate=0.1, l2_regularization=8, max_depth=15)
hgbc_fi.fit(y_train, l_train)
predicted = hgbc_fi.predict(y_test)
print(f1_score(l_test,predicted, average = 'macro'))
confusion_matrix(l_test,predicted)

0.7408477074801287

array([[92749,   169],
       [  784,   452]], dtype=int64)

In [215]:
hgbc_fi= HGBC(max_iter=500, max_leaf_nodes=300, learning_rate=0.05, l2_regularization=10, max_depth=15)
hgbc_fi.fit(y_train, l_train)
predicted = hgbc_fi.predict(y_test)
print(f1_score(l_test,predicted, average = 'macro'))
confusion_matrix(l_test,predicted)

0.744789361328277

array([[92766,   152],
       [  780,   456]], dtype=int64)

In [224]:
frame = np.ones((len(testdata_fi),7))*np.NaN
frame = pd.DataFrame(frame, index = testdata_fi.index,  columns = ["sum_depos","ti","to", "tci", "tco", "dif", "ac"])
for i in tqdm(testdata_fi.index):
    dKZ = testdata_fi.loc[i,"deposit_sum_KZT"]
    dUSD = testdata_fi.loc[i,"deposit_sum_USD"]
    dEUR = testdata_fi.loc[i,"deposit_sum_EUR"]
    
    if str(dKZ)=="nan" or str(dUSD)=="nan" or str(dEUR)=="nan":
        sum_depos = None
    else:
        sum_depos = dKZ+dUSD+dEUR
        
    ti9 = testdata_fi.loc[i,"transfers_amount_in_9"]
    ti10 = testdata_fi.loc[i,"transfers_amount_in_10"]
    to9 = testdata_fi.loc[i,"transfers_amount_out_9"]
    to10 = testdata_fi.loc[i,"transfers_amount_out_10"]
    tci9 = testdata_fi.loc[i,"transfers_count_in_9"]
    tci10 = testdata_fi.loc[i,"transfers_count_in_10"]
    tco9 = testdata_fi.loc[i,"transfers_count_out_9"]
    tco10 = testdata_fi.loc[i,"transfers_count_out_10"]
    
    if str(ti9)=="nan" or str(ti10)=="nan":
        ti = None
    else:
        ti = ti9+ti10
        
    if str(to9)=="nan" or str(to10)=="nan":
        to = None
    else:
        to = to9+to10

    if str(tci9)=="nan" or str(tci10)=="nan":
        tci = None
    else:
        tci = tci9+tci10
        
    if str(tco9)=="nan" or str(tco10)=="nan":
        tco = None
    else:
        tco = tco9+tco10
    
    
    difference=None
    if ti and to:
        difference = ti-to
    
    
    
    
    ac8 = testdata_fi.loc[i,"auth_count_8"]
    ac9 = testdata_fi.loc[i,"auth_count_9"]
    ac10 = testdata_fi.loc[i,"auth_count_10"]
    
    if str(ac8)=="nan" or str(ac9)=="nan" or str(ac10)=="nan":
        ac = None
    else:
        ac = ac8+ac9+ac10
    
    if sum_depos:
        frame.loc[i,"sum_depos"] = sum_depos
        
    if ti:
        frame.loc[i,"ti"] = ti
    
    if to:
        frame.loc[i,"to"] = to
        
    if tci:
        frame.loc[i,"tci"] = tci
        
    if tco:
        frame.loc[i,"tco"] = tco
        
    if ac:
        frame.loc[i,"ac"] = ac
    
    if difference:
        frame.loc[i,"dif"]=difference

100%|██████████| 463739/463739 [01:49<00:00, 4221.04it/s]

In [225]:
hgbc_fi= HGBC(max_iter=500, max_leaf_nodes=300, learning_rate=0.05, l2_regularization=10, max_depth=15)
hgbc_fi.fit(data, labels)
predicted = hgbc_fi.predict(testdata_fi)

In [226]:
result = pd.concat([pd.Series(testdata.index),pd.DataFrame(predicted)], axis=1)
result.columns = ["id","target"]
result.to_csv("result.csv", index=False)